/* General */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 10%);
  height: 100%;
  position: relative;
  margin: 0;
}


/* Tap */
.tap {
  background-color: hsl(0, 100%, 100%);
  background-clip: content-box;
  width: 64px;
  height: 64px;
  padding: 0px;
  border: 0px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 200ms;
  animation: pop-up 200ms;
}

.tap:hover {
  cursor: pointer;
  width: 96px;
  height: 96px;
  padding: 8px;
  border: 8px solid white;
}

.tap-destroy {
  animation: pop-down 200ms forwards;
}

@keyframes pop-up {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 64px;
    height: 64px;
  }
}

@keyframes pop-down {
  from {
    width: 96px;
    height: 96px;
    padding: 8px;
    border-width: 8px;
  }

  to {
    width: 0px;
    height: 0px;
    padding: 0px;
    border-width: 0px;
  }
}